<div class="group">
  <h3>Registros</h3>
  <ul class="list">
    
    <li>
      <button
        class="item-btn"
        data-title="Registro del dia"
        data-url="https://forms.gle/###"
        data-edit="https://docs.google.com/forms/d/###"
      >
        Registro del dia
      </button>
    </li>

    <li>
      <button
        class="item-btn"
        data-title="Produccion del dia"
        data-url="https://forms.gle/###"
        data-edit="https://docs.google.com/forms/d/###"
      >
        Produccion del dia
      </button>
    </li>
        
  </ul>
</div>

<div class="group">
  <h3>Administracion</h3>
  <ul class="list">
    
    <li>
      <button
        class="item-btn"
        data-title="Productos & Precios"
        data-url="https://forms.gle/###"
        data-edit="https://docs.google.com/forms/d/###"
      >
        Productos & Precios
      </button>
    </li>

    <li>
      <button
        class="item-btn"
        data-title="Rutas, Conductor, Procentaje"
        data-url="https://forms.gle/###"
        data-edit="https://docs.google.com/forms/d/###"
      >
        Rutas, Conductor, Procentaje
      </button>
    </li>

  </ul>
</div>
