<aside class="side">
  <div class="group">
    <h3>Registros</h3>
    <ul class="list">
      <li><button class="item-btn" data-title="Registro" data-url="https://docs.google.com/forms/d/e/1FAIpQLScghuGM34r0ugfefoma48AS3nqsSkVjqFMHqlyaJw91f0Q6AA/viewform?usp=header">Registro</button></li>
      <li><button class="item-btn" data-title="Consentimiento Uso Datos" data-url="https://drive.google.com/file/d/18exjFFYQGUNF6L_-oBcT_KMs27if8KOc/preview">Consentimiento Uso Datos</button></li>
    </ul>
  </div>

  <div class="group">
    <h3>Formularios</h3>
    <ul class="list">
      <li><button class="item-btn" data-title="QoL INICO-FEAPS: Autoinforme" data-url="https://forms.gle/VRYiHPMSsMoeqZpP8">QoL INICO-FEAPS: Autoinforme</button></li>
      <li><button class="item-btn" data-title="QoL INICO-FEAPS: Otros" data-url="https://forms.gle/ZD6F1zojPba94ULb8">QoL INICO-FEAPS: Otros</button></li>
      <li><button class="item-btn" data-title="Evaluación Experiencias" data-url="https://forms.gle/61TB4fJG5kvFZUY79">Evaluación Experiencias</button></li>
      <li><button class="item-btn" data-title="Evaluación Cursos" data-url="https://forms.gle/ijRj9tp14igRGudJ6">Evaluación Cursos</button></li>
      <li><button class="item-btn" data-title="Evaluación Caminando Juntos" data-url="https://forms.gle/6wAxMhXPf4nNTBb57">Evaluación Caminando Juntos</button></li>
      <li><button class="item-btn" data-title="Evaluación Proveedores" data-url="https://forms.gle/dxyXBpaUzADHeBBj9">Evaluación Proveedores</button></li>
    </ul>
  </div>

  <div class="group">
    <h3>Checklist</h3>
    <ul class="list">
      <li><button class="item-btn" data-title="Accesibilidad" data-url="https://forms.gle/Jfck2BaGfed5UfjP8">Accesibilidad</button></li>
      <li><button class="item-btn" data-title="Ambiental" data-url="https://forms.gle/U4LB34yeGyubmpxg8">Ambiental</button></li>
    </ul>
  </div>
</aside>
