/* ======= Estilos para escritorio ======= */

.layout {
  flex-direction: row;
  align-items: stretch;
}

#sidebar {
  max-height: calc(100vh - 160px);
  overflow-y: auto;
}

.main {
  height: calc(100vh - 160px);
}
